/* Base styles for all screen sizes */
.countrys-list {
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding-bottom: 10px;
    overflow-x: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.countrys-list::-webkit-scrollbar {
    display: none;
}

.countrys-card {
    border-radius: 16px !important;
    padding: 16px !important;
    scroll-snap-align: start !important;
    flex-shrink: 0 !important;
    /* background-color: #E3E3E3 !important; */
    border: 1px solid #E3E3E3 !important;
}

.country-image {
    border-radius: 12px !important;
    object-fit: cover !important;
}

.country-card-content {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Desktop layout */
@media (min-width: 769px) {
    .countrys-card {
        display: flex;
        flex-direction: row !important;
        width: 619px;
        height: 205px;
        align-items: center;
    }

    .country-image {
        width: 286px;
        height: 173px;
    }

    .country-card-heading {
        width: 285px;
        height: 173px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 16px;
        white-space: normal;
    }

    .subheading-small-medium,
    .paragraph-small-regular {
        white-space: normal;
        text-align: left;
    }
}

/* Mobile layout */
@media (max-width: 768px) {
    .countrys-card {
        flex-direction: column !important;
        width: 259px !important;
        height: auto !important;
        min-height: 304px !important;
        padding: 16px !important;
        gap: 16px !important;
        align-items: center;
    }

    .country-image {
        width: 227px !important;
        height: 166px !important;
    }

    .country-card-heading {
        width: 100% !important;
        height: auto !important;
        padding-left: 0;
        margin-top: 16px;
        white-space: normal;
    }

    .country-card-content {
        display: block;
        white-space: normal;
    }

    .subheading-small-medium,
    .paragraph-small-regular {
        white-space: normal;
        text-align: left;
    }
}