.nurse-partner-bg{
    background-image: url('../../../assets/images/nursing/nursePartnerBg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    border: #C4D8FE 1px solid;
    border-radius: 24px !important;
    padding: 24px !important;
    padding-bottom: 0px !important;
    margin: 0 !important;
}

.partner-subbox{
    border: #C4D8FE 1px solid !important;
    padding: 6px 12px !important;
    gap:4px !important;
    color: #E3E3E3 !important;
    border-radius: 999px !important;
}

@media (max-width: 768px) {

    .nurse-partner-bg{
        padding: 16px !important;
        padding-bottom: 0 !important;
        border-radius: 0px !important;

    }

    

}