.float-whatsapp {
    position: fixed !important;
    width: 60px !important;
    height: 60px !important;
    bottom: 40px !important;
    right: 40px !important;
    background-color: #25d366 !important;
    color: #FFF !important;
    border-radius: 50px !important;
    text-align: center !important;
    font-size: 30px !important;
    z-index: 100 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
    transition: all 0.3s ease !important;
}

.float-whatsapp:hover {
    /* background-color: #128C7E; */
    /* color: #FFF; */
    transform: scale(1.1);
}