.WhyGerOppCardImp {
    /* width: 620px; */
    height: 413.84px !important;
    border-radius: 32px !important;
    object-fit: cover !important;
    object-position: center !important;
}

@media (max-width: 756px) {
    .WhyGerOppCardImp {
        /* width: 620px; */
        height: 240px !important;
        width: 100% !important;

    }

}