.loan-eligible-bg {
  background-image: url("../../../../assets/images/education-loan/eligblitybg.png") !important;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  height: 700px !important;
}